.navbar {
    width: 100%;
}

.navbar-container {
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    cursor: pointer;
    display: none; /* Hidden by default, shown on mobile */
}

.mobile-menu {
    transition: visibility 0s linear; /* Smooth visibility toggle */
}

.mobile-menu.open {
    animation: waveOpen 0.6s ease-in-out forwards; /* Circular wave animation on open */
}

.mobile-menu:not(.open) {
    animation: waveClose 0.6s ease-in-out forwards; /* Circular wave animation on close */
}

/* Circular wave animation keyframes */
@keyframes waveOpen {
    0% {
        clip-path: circle(0% at 100% 0%); /* Start as a tiny circle at top-right */
    }
    100% {
        clip-path: circle(150% at 100% 0%); /* Expand to cover the entire screen */
    }
}

@keyframes waveClose {
    0% {
        clip-path: circle(150% at 100% 0%); /* Fully expanded circle */
    }
    100% {
        clip-path: circle(0% at 100% 0%); /* Shrink back to top-right */
    }
}

@media (max-width: 768px) {
    .navbar-container {
        margin: 0 10px;
        height: 60px !important;
        max-width: calc(100% - 20px);
        padding: 0 15px;
        border-radius: 15px !important;
    }

    .nav-title {
        font-size: 15px !important;
    }

    .esha-text {
        color: #2196f3 !important;
        margin-left: -14px !important;
    }

    .jobs-text {
        color: #fff !important;
        margin-left: 7px !important;
    }

    .navbar-right {
        align-items: center;
    }

    .navbar-links {
        display: none;
    }

    .navbar-logo {
        flex-direction: row;
    }

    .navbar-logo img {
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }

    .desktop-button {
        display: none;
    }

    .hamburger-icon {
        display: block;
        margin-left: auto;
    }
}

@media (min-width: 769px) {
    .hamburger-icon {
        display: none;
    }

    .desktop-button {
        display: block;
    }

    .esha-text {
        color: #fff !important;
    }

    .jobs-text {
        color: #fff !important;
    }

    .mobile-menu {
        display: none; /* Hidden on desktop */
    }
}