.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 20px; /* Increased top padding */
    flex-wrap: wrap;
    height: auto;
  }
  .service-text{
    width: 50%;
  }
  
  .service-buttons {
    display: flex;
    gap: 40px !important;
  }
  
  .claim-btn {
    background-color: var(--primary) !important;
    color: white;
    border-radius: 30px !important;
    padding: 10px 20px;
    height: 60px !important;
    width: 170px !important;
  }
  
  .contact-btn {
    border: 1px solid #999999 !important;
    border-radius: 30px !important;
    color: #000 !important;
    padding: 10px 20px;
    height: 60px !important;
    width: 170px !important;
  }
  
  @media (max-width: 768px) {
    .service-header {
      flex-direction: column;
      text-align: center;
      padding-top: 30px; /* Adjusted for mobile */
      margin-top: 30px;
      height: auto !important;
      width: 100%;
      padding: 40px 50px 10px !important;
    }
  
   
    .service-buttons {
      flex-direction: column;
      gap: 20px !important; /* Reduced gap for mobile */
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .claim-btn{
      margin-top: 20px !important;
      width: 350px !important;
    }
    .service-buttons .contact-btn {
      width: 350px !important;
      min-width: 350px !important; /* Ensure minimum width */
      max-width: 100% !important; /* Prevent overflow */
    }
    .service-text{
      width: 100% !important;
    }

  }
  