.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 20px; /* Increased top padding */
    flex-wrap: wrap;
    height: auto;
  }
  
  .service-text {
    max-width: 50%;
  }
  
  .service-buttons {
    display: flex;
    gap: 40px !important;
  }
  
  .claim-btn {
    background-color: var(--primary) !important;
    color: white;
    border-radius: 15px !important;
    padding: 10px 20px;
    height: 60px !important;
    width: 170px !important;
  }
  
  .contact-btn {
    border: 1px solid #999999 !important;
    border-radius: 15px !important;
    color: #000 !important;
    padding: 10px 20px;
    height: 60px !important;
    width: 170px !important;
  }
  
  @media (max-width: 768px) {
    .service-header {
      flex-direction: column;
      text-align: center;
      padding-top: 30px; /* Adjusted for mobile */
      margin-top: 30px;
      height: auto !important;
    }
  
    .service-text {
      max-width: 100%;
      margin-bottom: 15px;
      
    }
    .service-buttons {
      flex-direction: row;
      gap: 20px !important; /* Reduced gap for mobile */
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .claim-btn,
    .contact-btn {
      width: 100%;
      max-width: 200px; /* Keeps buttons from getting too wide */
    }

  }
  