.fli-title {
    font-size: 47px !important;
  }
  
  .fli-subtitle {
    font-size: 20px !important;
  }
  
  .fli-btn {
    background-color: #000 !important;
    border-radius: 30px !important;
    height: 60px !important;
    width: 200px !important;
    margin-top: 30px !important;
  }
  .fli-title br {
    display: inline; /* Default for desktop */
  }
  
  /* Default: Show desktop image, hide mobile image */
  .desktop-image {
    display: block;
  }
  
  .mobile-image {
    display: none;
  }
  
  @media (max-width: 768px) {
    /* Show mobile image, hide desktop image */
    .desktop-image {
      display: none;
    }
  
    .mobile-image {
      display: block;
    }
  
    .fli-title {
      font-size: 30px !important;
      font-weight: bold !important;
      width: 90% !important;
      line-height: 40px !important;
    }
    .fli-title br {
        display: none; /* Hide <br> on mobile */
      }
  
    .fli-subtitle {
      font-size: 17px !important;
      width: 83% !important;
      line-height: 28px !important;
    }
  
    .fli-btn {
      width: 180px !important;
      height: 60px !important;
      font-size: 12px !important;
      margin-top: 20px !important;
    }
  
    /* Optional: Adjust the overlay padding and positioning for better readability */
    .fli-over {
      left: 4% !important;
      padding: 1rem !important;
    }
    .fli-con{
        margin-top: 20px !important;
        height: 60vh !important;
    }
  }