@media (max-width: 768px) {
    .Nurse-con{
        height:110vh !important;
    }
    .mis-con{
        width: 250px !important;
        height: auto !important;
        margin-left: 20px !important;
        margin-top: 10px !important;
    }
    .vis-con{
        width: 250px !important;
        height:  170px !important;
        margin-left: 20px !important;
        margin-top: 10px !important;
    }
    .mis-text{
        font-size: 19px !important;
    }
    .mis-texttwo{
        font-size: 14px !important;
    }
    .vis-text{
        font-size: 19px !important;
    }
    .vis-texttwo{
        font-size: 14px !important;
    }
}