@media (max-width: 768px) {
    .Nurse-con{
        height:50vh !important;
        
    }
    .mis-con{
        width: 250px !important;
        height: auto !important;
        margin-left: 20px !important;
        margin-top: 10px !important;
        display: none !important;
    }
    .vis-con{
        width: 250px !important;
        height:  170px !important;
        margin-left: 20px !important;
        margin-top: 10px !important;
        display: none !important;
    }
    .mis-text{
        font-size: 19px !important;
    }
    .mis-texttwo{
        font-size: 14px !important;
    }
    .vis-text{
        font-size: 19px !important;
    }
    .vis-texttwo{
        font-size: 14px !important;
    }
    .hor-line{
        display: none !important;
    }
    .nur-btn{
        display: none !important;
    }
    .nur-img{
        margin-top: -100px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1250px) {
    .mis-con{
        height: 200px !important;
        width: 200px !important;
    }
    .vis-con{
        height: 200px !important;
        width: 200px !important;
    }
    .mis-texttwo{
        font-size: 14px !important;
    }
    .vis-texttwo{
        font-size: 14px !important;
    }

    
}
@media screen and (min-width: 769px) and (max-width: 899px) {
    .mis-con{
        height: 200px !important;
        width: 400px !important;
    }
    .vis-con{
        height: 200px !important;
        width: 400px !important;
        margin-top:-10px !important ;
    }
    .Nurse-con{
        height:auto !important;
    }
    
}